@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC:wght@400..700&family=Caprasimo&family=Momo+Trust+Display&display=swap');

header {
    text-align: center;
    background-color: rgb(158, 218, 255);
    display: flex;
    flex-wrap: wrap; /* перенос елементів, якщо не влазять */
    align-items: center;
    justify-content: center;
    gap: 10px; /* відступ між логотипом і текстом */
    padding: 10px;
}

.logo {
    width: min(25vw, 120px); /* адаптивна ширина: максимум 120px */
    height: auto;
    display: block;
}

h1 {
    font-family: 'Momo Trust Display', cursive;
    font-size: clamp(20px, 5vw, 40px); /* розмір змінюється залежно від екрана */
    color: #333;
    margin: 0;
}

main{
    padding: 20px;
    background-color: #f9f9f9;
}

h2{
    font-family: 'Baskervville SC', serif;
    font-size: 30px;
    color: #555;
    text-align: center;
}

p{
    font-family: 'Caprasimo', cursive;
    font-size: 18px;
    color: #666;
    line-height: 1.6;
    margin: 15px;
}

h3{
    font-family: 'Baskervville SC', serif;
    font-size: 24px;
    color: #444;
    margin: 20px 15px 10px 15px;
}

.list{
    font-family: 'Caprasimo', cursive;
    font-size: 18px;
    color: #666;
    line-height: 1.6;
    margin: 10px 30px;
}

.gif{
    text-align: center;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.gif img{
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}

h4{
    font-family: 'Baskervville SC', serif;
    font-size: 20px;
    color: #444;
    margin: 15px;
}